<div class="hero-unit">
  <div class="hero-bg"></div>
  <h1>Earth System Grid Federation</h1>
  <p>An <a href="LICENSE.html" target="_blank">open source</a> effort providing a robust, distributed data and computation platform, enabling world wide access to Peta/Exa-scale scientific data.</p>
  <p><a class="btn btn-primary btn-large" href="mission.html">Learn more »</a></p>
  <p><h2>Software Deprecation and Transition Announcement:</h2>For the process of transitioning data nodes from the previous installation method using the <a href="https://github.com/ESGF/esgf-ansible">esgf-ansble</a> 
    playbooks to the use of <a href="https://github.com/ESGF/esgf-docker">esgf-docker </a>deployment, ESGF will officially deprecate the <i>esgf-ansible</i> installation playbooks on 1 November 2023 to mark the start of a six-month transition period.  During this period, supported projects contributing to ESGF will continue to support existing installations, for instance, with the dissemination of security patches.  Staring 1 May 2024, patching to existing installations will no longer be provided (sites would need to research manual security patching themselves)  Instead, patching will only be made available for esgf-docker installs, for instance, updates to container images in the event of a security incident.
  </p>
  <p><h2>Looking for CMIP data?  Please try the <a href="https://aims2.llnl.gov">Metagrid web application</a> now under Beta testing.</h2></p>
</div>
