<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html"><img src="media/images/esgfSmall.png" style="float:left"></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="mission.html">Mission</a></li>
            <li><a href="federation-design.html">Federation design</a></li>
            <li><a href="node-design.html">Node design</a></li>
            <li><a href="governance.html">Governance</a></li>
            <li><a href="committee.html">Committee</a></li>
            <li><a href="acknowledgments.html">Acknowledgments</a></li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="publications.html">Publications</a></li>
            <li><a href="reports.html">Reports</a></li>
            <li><a href="conferences.html">Conferences</a></li>
            <li><a href="letters-of-recommendation.html">Letters of Recommendation</a></li>
            <li><a href="presentations.html">Presentations</a></li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Build <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="installation.html">Installation</a></li>
            <li><a href="releases.html">Releases</a></li>
            <li><a href="trust.html">Trust</a></li>
          </ul>
          </li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="developer-info.html">Contribute</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="http://www.youtube.com/user/ESGForg">Tutorials</a></li>
            <li><a href="mailing-list.html">Mailing list</a></li>
          </ul>
          </li>
          <li><a href="https://github.com/ESGF/esgf.github.io/wiki">Wiki</a></li>
        </ul>
      </div>
      <!-- <form class="navbar-search pull-right visible-desktop" action="search.php" method="post"><input name="searchwhat" type="hidden" value="site"> -->
      <!--<input type="search" name="googleseachTerm" class="search-query span3" placeholder="search site...">-->
      <!--</form>-->
    </div>
  </div>
</div>
<div style="margin-bottom: 60px;"></div>
